body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5%;
    padding: 0%;
}
h1 {
  color: rgb(248, 146, 4);
  text-align: center;
}
.menu-principal {
    list-style-type: none; /* retira os marcadores (bullets)*/
    padding: 10;
    margin: 1%;
}
.menu-principal li {
    display: inline-block;
    margin-right: auto;
    padding: 1%;

}
.menu-principal a {
    color: #d89400; 
    text-decoration: none; /* Remove underline */
  }
  
  .menu-principal a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
.image-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap between images */
  }
  
  .image-container img {
    max-width: 50%;
    height: auto;
  }

/* Exercício flex Froggy */


estágio 1 {
  display: flex;
  justify-content: flex-end;
}

estágio 2 {
  display: flex;
  justify-content: center;
}

estagio 3 {
  justify-content: space-around;
}

estagio 4 {
  justify-content: space-between
}


